/*

SEARCH PAGE
-
Rules for the general search page

*/



.search--results-number {
    margin-top: $global-spacing-unit;
    margin-bottom: $global-spacing-unit-tiny;
    p {
        margin: 0;
        font-size: 18px;
        font-weight: 400;
        
    }
}
